.sidebar {
  position: absolute;
  user-select: none;
  background-color: #151515;
  overflow: hidden;

  .adjustEdge {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: black;
    cursor: ew-resize;
    &:hover {
      width: 4px;
      background-color: #ad9cff;
    }
  }
}
