.bg {
  background-color: #2d3a4b;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  color: #eee;
  font-weight: bold;
}
