.date {
  width: 100% !important;
  height: 100% !important;
  :global(.el-input__wrapper) {
    padding: 0;
    :global(.el-input__prefix) {
      margin-left: 4px;
    }
  }
}

.eventNone {
  :global(.el-input__prefix-inner) {
    pointer-events: none;
  }
}
