.control {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  .error {
    position: absolute;
    top: 25%;
    right: 0;
    width: 2px;
    text-align: center;
    background-color: red;
    height: 50%;
  }
}