$dotSize: 6px;
// $offset: calc(-$dotSize / 2);
$offset: calc(-#{$dotSize} / 2);

.dot {
  position: absolute;
  border: 1px solid rgb(6, 123, 239);
  width: $dotSize;
  height: $dotSize;
  background-color: white;
  z-index: 9999;
  user-select: none;
}
// 大人物的 dot 样式
.bigshot {
  background-color: rgb(6, 123, 239);
  border: 1px solid white;
}
.nwse {
  cursor: nwse-resize;
}
.ns {
  cursor: ns-resize;
}
.nesw {
  cursor: nesw-resize;
}
.ew {
  cursor: ew-resize;
}
.l {
  left: $offset;
}
.r {
  right: $offset;
}
.t {
  top: $offset;
}
.b {
  bottom: $offset;
}
