* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
}

:global(.el-select) {
  :global(.el-select__wrapper.is-hovering:not(.is-focused)) {
    box-shadow: none;
    border: 1px solid var(--el-border-color-hover);
  }
  :global(.el-select__wrapper) {
    box-shadow: none;
    border: 1px solid var(--el-border-color);
  }
  :global(.el-select__wrapper.is-focused) {
    box-shadow: none;
    border: 1px solid var(--el-color-primary);
  }
  :global(.el-select__wrapper.is-disabled) {
    box-shadow: none;
    border: 1px solid var(--el-select-disabled-border);
  }
}
